.recipe-card {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}
.recipe-img {
  max-width: 150px;
  height: auto;
}
.ingredients-list {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: #888;
}
